
<h1>GET Request Received</h1>
<h2>You sent the following data in a GET request:</h2>
<table>
    {{#each dataList}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
    </tr>
    {{/each}}
</table>