<h1>POST Request Received</h1>
<h2>You sent the following data in a POST request:</h2>

<table>
    <caption>Data received in the request <em>body</em></caption>
    <tr>
        <th>Name</th>
        <th>value</th>
    </tr>
    {{#each body_dataList}}
    <tr>
        <th colspan="2">{{this.name}}</th>
        <td colspan="2">{{this.value}}</td>
    </tr>
    {{/each}}
</table>
<table>
    <caption>Data received in the request <em>query</em></caption>
    <tr>
        <th>Name</th>
        <th>value</th>
    </tr>
    {{#each query_dataList}}
    <tr>
        <th colspan="2">{{this.name}}</th>
        <td colspan="2">{{this.value}}</td>
    </tr>
    {{/each}}
</table>